@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

body {
    background-color: #c32A2A !important;
    padding: 0;
    margin:0;
    width:100vw;
    font-family: 'Pathway Gothic One', sans-serif !important;
    font-size: x-large !important;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
}
.wave:nth-child(2) {
    animation-delay: 0.1s;
}
.wave:nth-child(3) {
    animation-delay: 0.2s;
}
.wave:nth-child(4) {
    animation-delay: 0.3s;
}
.wave:nth-child(5) {
    animation-delay: 0.4s;
}
.wave:nth-child(6) {
    animation-delay: 0.5s;
}
.wave:nth-child(7) {
    animation-delay: 0.6s;
}
.wave:nth-child(8) {
    animation-delay: 0.7s;
}
.wave:nth-child(9) {
    animation-delay: 0.8s;
}
.wave:nth-child(10) {
    animation-delay: 0.9s;
}

@keyframes wave {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.gif {
    display: flex;
    justify-content: center;
}

#page-title {
    font-family: 'Limelight', cursive;
    color: yellow !important;
    font-size: 5rem;
    text-shadow: 3px 2px black;
}

.edit-button, .delete-button {
    background-color: black;
    color: white;
    height: 3rem;
}
#nav {
    /*position: relative;*/

}

#search-bar {
    padding-bottom: 1em;
}

#modal-btn {

}

#search-input {
    width: 10em;
}

#movie-form {

}

.img-div {
    /*position: relative;*/
}

.movie-info-div {
    position: absolute;
    display: none;
}
.card-img-top:hover + .movie-info-div {
    display: block;
}

#newDescription {
    height: 85px;
}

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}

.rating {
    cursor: pointer;
    padding: 5px;
}

.ratingStar {
    color: #eeee2a;
}

li {
    list-style: none;
}

.card-info {
    background-color: lightgray;
}

.card-title {
    font-size: large;
    font-weight: bolder;
}

.text {
    color: yellow;
}

.edit-button, .delete-button {
    color: yellow;
    border-radius: 15px;
}

.edit-button:hover, .delete-button:hover {
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}

#new-movie-submit, #new-movie-close {
    background-color: black;
    color: yellow;
    width: 100%;
}
.card-deck {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.bottom-form{
    position: relative;
}
.popcorn-image {
    position: absolute;
    top: 300px;
    left: 20%;
    z-index: -1000;
}
.hide {
    display: none !important;
}

.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    max-width: 650px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 4px 7px rgba(0,0,0,.5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
}
.card img{
    width: 100%;
    height:100%;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
    position: absolute;
    top:0px;
    left:0px;
    background-color: rgba(255,255,255,.7);
    width:100%;
    height:100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}
.card:hover .descriptions{
    left:0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}
.card:hover{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-shadow: 0px 2px 3px rgba(0,0,0,.3);
    transform: scale(.97);
}
.card:hover img{
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}
.card h1{
    color: #ff3838;
    letter-spacing: 1px;
    margin: 0px;
}
/*.card p{*/
/*    !*line-height: 24px;*!*/
/*    !*height: 70%;*!*/
/*}*/
.card button{
    width: fit-content;
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #ff3838;
    color:#fff;
    font-size: 15px;
    outline: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.4);
    transition: all .5s ease-in-out;
}
.card button:hover{
    transform: scale(.95) translateX(-5px);
    transition: all .5s ease-in-out;
}